{# =============================================================
   Template : CX_syslog.j2
   Role     : generate_config
   Device   : {{ inventory_hostname }}
   Platform : {{ platform | default("aoscx") }}
   Variables: syslog.server, syslog.severity
   Note     : Only renders if syslog_server is popualated
   ============================================================= #}

{% if syslog.server | default("") %}
logging {{ syslog.server }} severity {{ syslog.severity }}
{% endif %}